S = " Hello world"
print("S)

In [2]:
S = " Hello world"
print(S)
type (S)

 Hello world

str

In [4]:
S = " 123 "
print(S)
type (S)

 123

str

In [7]:
s1= "My name is Mehvish kiani"

In [ ]:
#Extracting first digit
s1[0]

'name'

In [15]:
# Extracting last digit
s1[-1]

'i'

In [16]:
# Extrating digit between 3 and 7 
s1[ 3:7]

'name'

In [ ]:
# Convert string into upper case
s1.upper()

'MY NAME IS MEHVISH KIANI'

In [ ]:
# Convert String itno lower case
s1.lower()

'my name is mehvish kiani'

In [ ]:
# Replace string 
s1.replace ( "Kiani", "Khan")

'My name is Mehvish kiani'

In [21]:
# Count String
s1.count('Mehvish')

1

In [23]:
# Finding index
s1.find("h")

13

In [ ]:
# Splitting a string
s1.split()

['My', 'name', 'is', 'Mehvish', 'kiani']