Exercise 1

In [4]:
# Create variables for your name, age, and height and print them.
name = "Mehvish"
age = 22
height = 5.4
print(f"My name is {name}, I am {age} years old and {height} feet tall.")

My name is Mehvish, I am 22 years old and 5.4 feet tall.

Exercise 2

In [2]:
#Create variables for your name, age, gpa, and Deg name. Print them.
Name = "Mehvish Kiani"
Age = 22
Gpa = 3.44
Deg = "BS Computer Science"

print(Name)
print(Age)
print(Gpa)
print(Deg)

Mehvish Kiani
22
3.44
BS Computer Science

In [6]:
# Create two numbers, add them, and print the result.
A = 10.5
B = 10 
print( "Adding two numbers: ", A+B)

Adding two numbers:  20.5

In [8]:
# Check type of these: "123", 123, 12.3, True
print(type( 123))
print(type("123"))
print(type(12.3))
print(type(True))

<class 'int'>
<class 'str'>
<class 'float'>
<class 'bool'>

Exercise 04

In [1]:
# Write a program using literals, operators, and punctuators.
x = 10   # literal
y = 20
z = x + y   # operator
print("Sum:", z)  # punctuators ()

Sum: 30